

<%= form_tag manager_path(@manager), method: :put do%>

	<strong><%= label_tag(:name, "Name:") %></strong> 	
	<br>
	<strong><%= text_field_tag(:name, @manager.name) %></strong> 	    
	<br>
	<strong><%= label_tag(:surname, 'Surname:') %></strong> 
	<br>
	<strong><%= text_field_tag(:surname, @manager.surname) %></strong>      
	<br>
	<strong><%= text_field_tag(:phone, @manager.phone) %></strong>
	<br>
	<%= submit_tag('Update Manager') %>
<% end -%>

<!--<%= form_for @manager do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :phone%><br>
	<%= f.text_field :phone %>
</p>

	<%=f.submit %>


<% end -%>
-->