
<%= form_for @manager do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :phone%><br>
	<%= f.text_field :phone %>
</p>

	<%=f.submit %>


<% end -%>