<h1>Managers#edit</h1>
<p>Find me in app/views/managers/edit.html.erb</p>

<%= form_for :manager, url: manager_path(@manager), method: :patch do |f| %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :surname %><br>
		<%= f.text_field :surname %>
	</p>

	<p>
		<%= f.label :phone %><br>
		<%= f.text_field :phone %>
	</p>
		
	<p>
		<%= f.label :departman %><br>
		<%= select_tag 'manager[departman]' , options_for_select(Manager::DEPARTMANS) %>
	</p>
		
	<p>
		<%= submit_tag 'Iptal' , name: "cancel" %>
		<%= submit_tag 'Duzenle' , name: "update" %>
	</p>

<% end %>



