
<%= form_tag patient_path(@patient), method: :put do%>
<p>
	<strong><%= label_tag(:name, "Name:") %></strong> 	
	
	<%= text_field_tag(:name, @patient.name) %>	    
</p>	
<p>	<strong><%= label_tag(:surname, 'Surname:') %></strong> 
	
	<%= text_field_tag(:surname, @patient.surname) %>    
</p>	
<p>	<strong><%= label_tag(:disease) %></strong>
	
	<%= text_field_tag(:disease, @patient.disease) %>
</p>	
<p>	<strong><%= label_tag(:bio, 'Sickness Past') %>/strong>
	
	<%= text_field_tag(:bio, @patient.bio) %>
</p>	<%= submit_tag('Update Patient') %>
<% end -%>
<!--
<%= form_for @patient do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :disease %><br>
	<%= f.text_field :disease %>
</p>
<p>
	<%= f.label :bio %><br>
	<%= f.text_area :bio %>
</p>
	<%=f.submit %>


<% end -%>
-->