
<%= form_tag patient_path(@patient), method: :put do%>

	<strong><%= label_tag(:name, "Name:") %></strong> 	
	<br>
	<strong><%= text_field_tag(:name, @patient.name) %></strong> 	    
	<br>
	<strong><%= label_tag(:surname, 'Surname:') %></strong> 
	<br>
	<strong><%= text_field_tag(:surname, @patient.surname) %></strong>      
	<br>
	<strong><%= label_tag(:disease) %></strong>
	<br>
	<strong><%= text_field_tag(:disease, @patient.disease) %></strong>
	<br>
	<strong><%= label_tag(:bio, 'Sickness Past') %></strong>
	<br>
	<strong><%= text_field_tag(:bio, @patient.bio) %></strong>
	<br>
	<%= submit_tag('Update Patient') %>
<% end -%>
<!--
<%= form_for @patient do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :disease %><br>
	<%= f.text_field :disease %>
</p>
<p>
	<%= f.label :bio %><br>
	<%= f.text_area :bio %>
</p>
	<%=f.submit %>


<% end -%>
-->