<h1> <%= @patient.full_name %> hastayi duzenle</h1>


<%= form_tag patient_path , method: :patch do %>
	
	<p>
		<%= label_tag "Ad" %>
		<%= text_field_tag :name , @patient.name %>
	</p>

	<p>
		<%= label_tag "Soyad" %>
		<%= text_field_tag :surname , @patient.surname %>
	</p>

	<p>
		<%= label_tag "Tel" %>
		<%= text_field_tag :phone , @patient.phone %>
	</p>

	<p>
		<%= label_tag "Doktor" %>
		<%= select_tag :doctor_id, options_from_collection_for_select(@doctors, "id", "full_name" , @patient.doctor_id ) %>
	</p>


	<p>
		<%= submit_tag "Duzenle" %>
	</p>


<% end %>