<h1>hastalar</h1>

<h3>
	<%= link_to "Yeni Hasta Ekle" , new_patient_path %>
</h3>

<H4>id - ad soyad - tel - doktor </H4>
<br>

<% ENV['TEMP_FOLDER'] %>

<% @patients.each do |p| %>
	<%= p.full_name %>

	<% unless p.doctor_id == nil %>
		<%= Doctor.find(p.doctor_id).full_name %>
	<% end %>

	<% unless p.interest_id == nil %>
		<%= Interest.find(p.interest_id).data %>
	<% end %>


	 - <%= link_to "Detay" , patient_path(p) %> - <%= link_to "Duzenle" , edit_patient_path(p) %>
	 - <%= link_to "Sil", patient_path(p) ,  method: :delete %>
	<hr>
<% end %>