<h4><%= @patient.full_name %> isimli hasta bilgileri:</h4>

<p>	
	<strong>Hastalik:</strong>
		<%= @patient.disease %>
</p>		

<p>	<strong>Doktor:</strong>
		<%= @patient.doctor.full_name %>
</p>

<p>	<strong>Hastalik Gecmisi:</strong>
		<%= @patient.bio%>
</p>

<p>
	<strong>Ilgi Alanlari:</strong>
		<%= @patient.interest.title %>
</p>