
<%= form_tag doctor_path(@doctor), method: :put do%>

	<strong><%= label_tag(:name, "Name:") %></strong> 	
	<br>
	<strong><%= text_field_tag(:name, @doctor.name) %></strong> 	    
	<br>
	<strong><%= label_tag(:surname, 'Surname:') %></strong> 
	<br>
	<strong><%= text_field_tag(:surname, @doctor.surname) %></strong>      
	<br>
	<strong><%= label_tag(:consultancy, "Consultancy:") %></strong> 
	<br>
	<strong><%= text_field_tag(:consultancy, @doctor.consultancy) %></strong> 
	<br>
	<strong><%= label_tag(:bio,'Biyografi:') %></strong> 
	<br>
	<strong><%= text_area_tag(:bio, @doctor.bio) %></strong> 
	<br>
	<%= submit_tag('Update Doctor') %>
<% end -%>

 <!---<%= form_for @doctor do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :consultancy %><br>
	<%= f.text_field :consultancy %>
</p>
<p>
	<%= f.label :bio %><br>
	<%= f.text_area :bio %>
</p>
	<%=f.submit %>


<% end -%> 
-->