
<%= form_for @doctor do |f|%>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
</p>
<p>	
	<%= f.label :surname %><br>
	<%= f.text_field :surname %>
</p>
<p>
	<%= f.label :consultancy %><br>
	<%= f.text_field :consultancy %>
</p>
<p>	
	<%= f.label :phone %>
	<%= f.text_field :phone %>
</p>
<p>
	<%= f.label :manager %>
	<%= f.collection_select :manager_id, Manager.all, :id, :full_name %>
</p>
<p>
	<%= f.label :bio, 'Biyografi' %><br>
	<%= f.text_area :bio %>
</p>
	<%=f.submit %>


<% end -%>

