<h1>Su an <%= params[:id] %> id'li doktoru duzenliyoruz</h1>
doctor edit

<%= form_tag doctor_path ,  method: :patch do %>
	
	<p>
		<%= label_tag "Ad" %>
		<%= text_field_tag :name , @doctor.name %><br />
	</p>

	<p>
		<%= label_tag "Soyad" %>
		<%= text_field_tag :surname  , @doctor.surname  %><br />
	</p>

	<p>
		<%= label_tag  "Uzmanlik" %>
		<%= text_field_tag :consultancy ,  @doctor.consultancy %>
	</p>


	<p>
		<%= label_tag  "Ozgecmis" %>
		<%= text_area_tag :bio , @doctor.bio %>
	</p>


	<p>
		<%= label_tag  "Tel" %>
		<%= telephone_field_tag :phone ,  @doctor.phone %>
	</p>


	<p>
		<%= label_tag "Mudur Sec" %>
		<%= select_tag :manager_id, options_from_collection_for_select(@managers, "id", "full_name" , @doctor.manager_id ) %>
	</p>


	<%= button_tag "Duzenle" %>
<% end %>