<h1>HepsiBurada#index</h1>


<p>
<h4>
Var olan kayitlara dokunulmayacak. Olmayanlar yeni kayit acilarak kaydedeilecektir.<br />
</h4>
<h3>
Simdi cek <%= link_to "Katorileri getir" , parsing_path %> 
</h3>

</p>

Hepsi burada DB var olan kategoriler. 

<p>
<%= @interests.each do |i| %>
	<%= i.id %> - <%= i.value %> - <%= i.data %>
	<hr>
<% end %>

</p>


