<!DOCTYPE html>
<html>
<head>
  <title>Hospital</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul style="margin: 0; padding: 0; list-style-type: none;">

	<li style="display: inline; margin: 15px; "><%= link_to "Ana sayfa", mainpage_path %></li>
	<li style="display: inline; margin: 15px;"><a href="/doktorlar">Doktorlar</a></li>
	<li style="display: inline; margin: 15px;"><a href="/hastalar">Hastalar</a></li>
	<li style="display: inline; margin: 15px;">
		<%= link_to "Müdürler", managers_path %>
	</li>

</ul>

<br>
<%= yield %>

</body>
</html>
